.contacts {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 15px;
  &-desc {
    margin: 15px 0 20px 0;
    color: $color-2;
  }
  &-button {
    width: 100%;
    border: 2px solid $color-violet;
    background: $color-8;
    &-secondary {
      width: 100%;
      background: $color-8;
    }
  }
}