.wrapper {
  position: relative;
  left: -50%;
  transform: translateX(50%);
  @include desktop {
    transform: initial;
    left: initial;
  }

  // Типы модалок с разными цветами
  &.success {
    .modal-inner {
      border-top: 3px solid $color-success;
    }
    .title {
      color: $color-success;
    }
  }

  &.error {
    .modal-inner {
      border-top: 3px solid $color-error;
    }
    .title {
      color: $color-error;
    }
  }

  &.warning {
    .modal-inner {
      border-top: 3px solid $color-warning;
    }
    .title {
      color: $color-warning;
    }
  }

  &.full {
    .modal-inner {
      // width: 100vw;
      // height: 100vh;
      // max-height: 100vh;
      // margin: 0 -10px;
      // padding: 20px 15px;
      // border-radius: 0;
      padding: 0;
    }

    .title {
      padding: 20px 15px 0 15px;
    }
    // .modal-slot {
    //   max-height: 100%;
    //   height: calc(100% - 55px);
    // }
    // .close-btn {
    //   right: 0;
    // }
  }
}
.modal{
  &-inner {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 20px 20px;
    background-color: $color-bg;
    border-radius: 30px 30px 0 0;
    @include desktop {
      padding: 50px 50px;
      border-radius: $radius;
    }
    @include scrollbar;
  }
  &-slot {
    display: flex;
    // max-height: calc(100vh - 170px);
    max-height: 100%;
    @include desktop {
    }
  }
}
.close-btn {
  position: absolute;
  width: 40px;
  top: 10px;
  right: 10px;
  z-index: 5;
  @include desktop {
    display: none;
  }
  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 auto 0 auto;
    border-radius: $radiusBtn;
    background: $color-bg-2;
  }
}
.title {
  margin: 0 0 30px 0;
  font-size: 16px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  @include desktop {
    margin: 0 0 20px 0;
    font-size: 24px;
  }
}
.description {
  margin: 0 0 20px 0;
  font-size: 16px;
  color: $color-3;
  line-height: 135%;
}