.buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  align-items: center;
  width: 100%;
  &.default {
    direction: ltr;
  }
  &.good {
    direction: rtl;
  }
  &.bad {
    direction: ltr;
  }
}